@import "tailwindcss";

@theme {
  --color-primary-orange: #FFE5D4;
  --color-primary-pink: #FDE8E5;
  --color-primary-brown: #694F5D;
  --color-primary-green: #68A691;
  --color-secondary-green: #A9CEAD;
  --color-gray: #524F4F;
  --color-admin-gray: #F2F2F2;
  --color-shadow-black: 0 0 5px rgba(0, 0, 0, 0.3);
  --breakpoint-xs: 450px;
  --breakpoint-sm: 600px;
}

@layer base {
  :root {
    --shadow-primary-green: 0 0 10px rgba(104, 166, 145, 1);
    --shadow-black: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #FDE8E5 inset !important;
}

body {
  position: relative;
}
